.jumbotron {
  background-image: url(../img/banner.jpg);
  background-size: cover;
}
.jumbotron h1 {
  text-shadow: 4px 4px 5px #ddd;
}
.yourOrder, #btnAddTopping, #btnConfirmPie, #btnClearPie {
  display: none;
}
